$primaryColor: white;
$secondaryColor: black;


.button {
  background-color: $secondaryColor;
  font-size: inherit;
  padding: 0.25rem 0.25rem;
  outline: none;
  user-select: none;
  min-width: 200px;
  border: 2px solid $primaryColor;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: $secondaryColor;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition:
    background 0.3s linear,
    width 0.3s linear;
}

.buttonText {
  font-family: inherit;
  font-weight: inherit;
  color: $primaryColor;
  text-align: center;
  line-height: 1.75rem;
  display: block;
  transition: all 0.3s ease-in-out;
}

.topKey {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: $secondaryColor;
  transition:
    width 0.5s ease-out,
    left 0.3s ease-out;
}

.bottomKey1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: $secondaryColor;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

.bottomKey2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: $secondaryColor;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

.button:hover .button::before {
  width: 0.9375rem;
  background: $secondaryColor;
}

.button:hover .buttonText {
  color: $secondaryColor;
  padding-right: 0.5em;
}

.button:hover .topKey {
  left: -2px;
  width: 0px;
}

.button:hover .bottomKey1,
.button:hover .bottomKey2 {
  right: 0;
  width: 0;
}

.button:hover {
  color: $secondaryColor;
  background: $primaryColor;
}
